.main{
    /* width: 100%; */
    position: absolute;
    left: 260px;
    top: 120px;

}

.main h1{
    font-size: 48px;
    font-weight: 500;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}


.userName{
    color: red;
}

.containerBlock {
    width: 81vw;
    display: flex;
    align-content: flex-start;
    gap: 70px;
}

.containerCharts{
    width: 65%;
}

.widgets{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    /* gap: 60px; */
    margin-top: 20px;
    /* margin-left: -60px; */
}

.cards {
    /* width: 280px;  */
    /* position: absolute; 
    top: 0;
    right: 100px;  */
    /* height: 300px;  */
    display: flex;
    flex-direction: column;
    justify-content: start; 
}

@media screen and (max-width: 1024px) {
    .main{
        top: 80px;
        left: 160px;
    }

    .title{
        width: 50%;
        font-size: 36px;
    }

    .text{
        width: 50%;
        font-size: 18px;
    }


    .containerBlock {
        width: 83vw;
        gap: 30px;
    }

    .containerCharts{
        width: 85%;
    }

    .widgets{
        gap: 25px;
    }

}