.radarChart {
    width: 220px;
    height: 220px;
    background-color: #000000;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .radarChart {
        width: 180px;
        height: 180px;
    }
    
}